*.ERR
*.BAK
*.bak
*.orig
*.rej
.vscode/*
csf.tar.gz

# OBS Build Artifacts
OBS.*
SOURCES/*.tar.gz
RPMS/*
SRPMS/*
debian/*
cpanel-csf_*
BUILD/
debify/debian/override_dh_auto_install.sh
debify/debian/cpanel-csf.install

# Perl development
*.swp
*.tmp
.prove
cover_db/
nytprof.out
nytprof/

# Temporary files directory
tmp/*

# Universal
.DS_Store
Thumbs.db
.test_info.*.json
