[%
 
WRAPPER 'master_templates/master.tmpl'
	header = 'ConfigServer Security &amp; Firewall'
	skipsupport = 1
	hide_license_warnings = 1
    stylesheets=Whostmgr.find_file_url('/3rdparty/bootstrap-rtl/optimized/dist/css/bootstrap-rtl.min.css')
	theme='bootstrap'
    breadcrumburl='/cgi/configserver/csf.cgi'
%]
 
[% csf_output %]

[% END %]
