name: OBS Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    uses: webpros-cpanel/ea-tools/.github/workflows/reusable-obs-build.yml@ghes
    secrets: inherit
